.ficheLogement{
    width: 100%;  
}
.profileRating{
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-top: 20px;
   
}

.wrapperTitle{
    color: #ff6060;
}

.ficheTitle
{
    font-weight: 500;
    font-size: 36px;
    line-height: 51.34px;
}

.ficheText{
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
}
.buttonTags{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block: 20px;
}

.wrapperCollapse{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    flex-direction: row;   
}

@media screen  and (max-width:768px){
    .wrapperCollapse{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .profileRating{
        display: flex;
        flex-direction: column;
    }
    .ficheTitle{
        font-size: 18px;
        line-height: 25.67px;
    }
    .ficheText{
        font-size: 14px;
        line-height: 19.96px;
    }
}
