.ficheLogement{
    width: 100%;
    
}
.wrapperCollapse{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-direction: row;
    
    
}
@media screen  and (max-width:768px){
    .wrapperCollapse{
        display: flex;
        flex-direction: column;
       
       
    }
}
