.hostInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 30px;

}

.host{
    display: flex;
    align-items: center; 
    gap: 20px;
}
.name{
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    width: 93px;
}
.profilePhoto {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
@media screen and (max-width:768px){
    .hostInfo{
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
    }
    .name{
        font-size: 12px;
        line-height: 17.11px;
        width: 53px;
    }
    .profilePhoto{
        width: 32px;
        height: 32px;
    }
}