.tag{
background: #ff6060;
border-radius: 10px;
font-size: 14px;
color: white;
padding: 5px 10px;
text-align: center;
border: none;
line-height:19.96px ;
max-width: 200px;
}
@media screen and (max-width: 768px){
    .tag{
        padding: 2px 10px;
        font-size: 10px;
        line-height: 14.26px;
        border-radius: 5px;
    }
}